body {
    color: #333;
    background-color: beige;
}

table,
tr,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
    width: auto;
}

.material {
    text-align: left;
}

.standard {
    background-color: #98FB98;
}

.name {
    background-color: #00FF00;
    text-transform: uppercase;
}

form input[type=text],
form input[type="submit"] {
    font-size: 1em;
}

#main_menu {
    position:static;
    font-size: 1.2em;
}

#main_menu li {
    list-style-type: none;
    float: left;
    border: 1px solid #2e1212;
    padding: 0 10px 0 10px;
    background-color: #00FF00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

#top_menu li:hover {
    background-color: rgb(62, 204, 102);
}
